
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Review System</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="static/css/font-awesome.css" rel="stylesheet">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<!-- 
		comment

		<div class="header-top">
		<div class="container">
			<div class="bottom_header_left">
				<p>
					<span class="fa fa-map-marker" aria-hidden="true"></span>New Kampshire Mshinon, USA
				</p>
			</div>
			<div class="bottom_header_right">
				<div class="bottom-social-icons">
					<a class="facebook" href="#">
						<span class="fa fa-facebook"></span>
					</a>
					<a class="twitter" href="#">
						<span class="fa fa-twitter"></span>
					</a>
					<a class="pinterest" href="#">
						<span class="fa fa-pinterest-p"></span>
					</a>
					<a class="linkedin" href="#">
						<span class="fa fa-linkedin"></span>
					</a>
				</div>
				<div class="header-top-righ">
					<a href="">
						<span class="fa fa-sign-out" aria-hidden="true"></span>Login</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

end of comment
-->
	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="">
							<h1>
								<span class="" aria-hidden="true"></span>Expert Review Analysis
								<label>On Latest Car Arrivals</label>
							</h1>
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="/admin_dashboard" class="effect-3">Home</a>
								</li>
								<!-- <li>
									<a href="/about" class="effect-3">About Us</a>
								</li> -->


								<li class="dropdown"> 
									<a href="" class="dropdown-toggle" data-toggle="dropdown">Cars
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="/addcars">Add Cars</a>
										</li>
										<li>
											<a href="/managecars">Manage Cars</a>
										</li>
									</ul>
								</li>

								<li class="dropdown"> 
									<a href="" class="dropdown-toggle" data-toggle="dropdown">Users
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="/viewuser">All Users</a>
										</li>
									</ul>
								</li>

								<li class="dropdown"> 
									<a href="" class="dropdown-toggle" data-toggle="dropdown">Experts
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="requestedexperts">Requested Experts</a>
										</li>
										<li>
											<a href="expertreviews">Expert Reviews</a>
										</li>
										<li>
											<a href="/viewexperts">All Experts</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="/" class="effect-3">Logout</a>
								</li>


								<!--  


								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a href="icons.html">Web Icons</a>
										</li>
										<li>
											<a href="codes.html">Short Codes</a>
										</li>
									</ul>
								</li>
								-->


								<!-- <li>
									<a href="/login" class="effect-3">Login</a>
								</li>
								<li>
									<a href="contact.html" class="effect-3">Contact Us</a>
								</li> -->
							</ul>
						</nav>
					</div>
                                        <!--/.navbar-header-->




                                         {% block content %}
                                        




                                         {% endblock %}

                                        <script src="static/js/jquery-2.1.4.min.js"></script>
                                        <!-- bootstrap -->
                                        <script src="static/js/bootstrap.js"></script>
                                        <!-- stats numscroller-js-file -->
                                        <script src="static/js/numscroller-1.0.js"></script>
                                        <!-- //stats numscroller-js-file -->
                                
                                        <!-- Flexslider-js for-testimonials -->
                                        <script>
                                                $(window).load(function () {
                                                        $("#flexiselDemo1").flexisel({
                                                                visibleItems: 1,
                                                                animationSpeed: 1000,
                                                                autoPlay: false,
                                                                autoPlaySpeed: 3000,
                                                                pauseOnHover: true,
                                                                enableResponsiveBreakpoints: true,
                                                                responsiveBreakpoints: {
                                                                        portrait: {
                                                                                changePoint: 480,
                                                                                visibleItems: 1
                                                                        },
                                                                        landscape: {
                                                                                changePoint: 640,
                                                                                visibleItems: 1
                                                                        },
                                                                        tablet: {
                                                                                changePoint: 768,
                                                                                visibleItems: 1
                                                                        }
                                                                }
                                                        });
                                
                                                });
                                        </script>
                                        <script src="static/js/jquery.flexisel.js"></script>
                                        <!-- //Flexslider-js for-testimonials -->
                                        <!-- smooth scrolling -->
                                        <script src="static/js/SmoothScroll.min.js"></script>
                                        <script src="static/js/move-top.js"></script>
                                        <script src="static/js/easing.js"></script>
                                        <!-- here stars scrolling icon -->
                                        <script>
                                                $(document).ready(function () {
                                                        /*
                                                                var defaults = {
                                                                containerID: 'toTop', // fading element id
                                                                containerHoverID: 'toTopHover', // fading element hover id
                                                                scrollSpeed: 1200,
                                                                easingType: 'linear' 
                                                                };
                                                        */
                                
                                                        $().UItoTop({
                                                                easingType: 'easeOutQuart'
                                                        });
                                
                                                });
                                        </script>
                                        <!-- //here ends scrolling icon -->
                                        <!-- smooth scrolling -->
                                        <!-- //js-files -->
                                
                                </body>
                                
                                </html>
