<!DOCTYPE html>
<html lang="en">

<head>
	<title>Review System</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="static/css/font-awesome.css" rel="stylesheet">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
		rel="stylesheet">

	<style>
		@font-face {
			font-family: 'Colfax';
			src: url('static/fonts/Colfax-Light.woff2') format('woff2'),
				   url('static/fonts/Colfax-Bold.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		}

		img {
			position: fixed;
		}

		#btn {
			position: fixed;
			top: 50%;
			left: 15%;
			padding: 10px;
			width: 20%;
			border-radius: 10px;
			border: none;
			font-family: 'Colfax';
			font-size: 16px;
			font-weight: 600;
			background: rgb(75, 195, 169);
			color: white;
			cursor: pointer;
		}

		svg {
			height: 11px;
		}

		#btn:hover {
			font-size: 18px;
			font-weight: 600;

		}
	</style>


</head>

<body>

	<div class="header">
		<div class="content white">
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="">
							<h1>
								<span class="" aria-hidden="true"></span>Expert Review Analysis
								<label>On Latest Car Arrivals</label>
							</h1>
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="/" class="effect-3">Home</a>
								</li>
								<li>
									<a href="about" class="effect-3">About Us</a>
								</li>

								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown">Sign-up
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" role="menu">

										<li>
											<a href="/register">User</a>
										</li>
										<li>
											<a href="/expertregistration">Expert</a>
										</li>

									</ul>
								</li>
								<li>
									<a href="/login" class="effect-3">Login</a>
								</li>
								<li>
									<a href="contact" class="effect-3">Contact Us</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="mainsection">
		<img src="static/images/bannerone.jpg" width="100%" height="100%" alt="">
		<a href="/register"><button id="btn">Register Now <svg xmlns="http://www.w3.org/2000/svg" width="18"
					height="13" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
				</svg></button></a>
	</div>

	<!-- js files -->
	<!-- js -->
	<script src="static/js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="static/js/bootstrap.js"></script>
	<!-- stats numscroller-js-file -->
	<script src="static/js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->

	<!-- Flexslider-js for-testimonials -->
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 1
					},
					tablet: {
						changePoint: 768,
						visibleItems: 1
					}
				}
			});

		});
	</script>
	<script src="static/js/jquery.flexisel.js"></script>
	<!-- //Flexslider-js for-testimonials -->
	<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
	<script src="static/js/move-top.js"></script>
	<script src="static/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

</body>

</html>